<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare features and permissions -->
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:icon="@drawable/ic_launcherappicon"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcherappicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepTracker"
        tools:targetApi="31">

    <!-- Main Activity -->
    <activity
        android:name=".MainActivity"
        android:theme="@style/Theme.SleepTracker"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Data Activity -->
    <activity
        android:name=".DataActivity"
        android:theme="@style/Theme.SleepTracker"
        android:exported="true" />

    <!-- Sensor Foreground Service -->
    <service
        android:name=".SensorForegroundService"
        android:foregroundServiceType="shortService" />
    </application>

    </manifest>
